{% extends 'base.html' %}

{% block titulo %}
    Consulta
{% endblock titulo %}


{% block headers %}
{% include 'includes/headers.html' %} 
{% endblock headers %}
    
    

{% block content %}


<h1>Consulta a la api</h1>


{% for persona in consulta.results %}
    Nombre de la carrera:{{persona.nombre_carrera}}
    <p></p>
    Nombre:{{persona.estudiante.nombre}}
    <p></p>
    Apellido paterno:{{persona.estudiante.apellido_paterno}}
    <p></p>

 
{% endfor %}

    
{% endblock content %}
    